*.py[cod]
__pycache__

database.sqlite

# Bower
bower_components

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Sphinx doc
_build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# PyCharm
.idea

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
