include LICENSE
include requirements/basic.txt
include requirements/redis.txt
include requirements/sqlalchemy.txt
include firenado/conf/*.yml
include firenado/management/templates/*/*.txt
include firenado/components/*/conf/*.yaml.example
include firenado/components/*/templates/*.html
include firenado/components/*/static/css/*.css
include firenado/components/*/static/js/*.js
include firenado/components/*/static/js/locales/*
include firenado/components/*/static/js/views/*.ejs
