{% extends "base.html" %}

    {% block content %}
    {% module Header1(message) %}
    {% module Header2(message) %}
    {{ message }}

    {% module Header1("Session") %}
    <ul>
        <li><a href="{% module RootedPath('/session/counter') %}">Session Counter</a></li>
        <li><a href="{% module RootedPath('/session/timeout') %}">Session Timeout</a></li>
    </ul>

    {% module Header1("Security") %}
    <ul>
        <li><a href="{% module RootedPath(login_url) %}">Login</a></li>
        <li><a href="{% module RootedPath('/private') %}">Not Public</a></li>
    </ul>

    {% module Header1("Toolbox") %}
    <ul>
        <li><a href="{% module RootedPath('/pagination') %}">Pagination</a></li>
    </ul>
{% end %}
