{% extends "testapp:base.html" %}

{% block content %}
    <h1>Pagination Test</h1>
    <ul>
        <li><a href="{% module RootedPath('/') %}">Index</a></li>
    </ul>

    <h2>Pagination Component:</h2>
    {% module Paginate(row_count, page=page, argument=pag_argument, name="pagination") %}

    <h2>Pagination Data:</h2>
    <p><b>Current page:</b> {{ handler.pagination.page }}</p>
    <p><b>Row count:</b> {{ handler.pagination.count }}</p>
    <p><b>Page count:</b> {{ handler.pagination.pages }}</p>
    <p><b>Rows in the last page:</b> {{ handler.pagination.rows_in_last_page }}</p>
    <p><b>Block count:</b> {{ handler.pagination.blocks }}</p>
    <p><b>Pages in the last block:</b> {{ handler.pagination.pages_last_block }}</p>
    <p><b>Current block:</b> {{ handler.pagination.block }}</p>
    <p><b>Current First Row:</b> {{ handler.pagination.first_row }}</p>
    <p><b>Current Last Row:</b> {{ handler.pagination.last_row }}</p>
    <p><b>Block First Page:</b> {{ handler.pagination.first_page_in_block }}</p>
    <p><b>Block Last Page:</b> {{ handler.pagination.last_page_in_block }}</p>

{% end %}
