<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Firenado Schedule Test Application</title>
    </head>
    <body>
        <div class="container">
            {% block content %}{% end %}
        </div>
        <footer class="my-footer">Firenado Schedule Test Application. Candango Open Source Group</footer>
    </body>
</html>
