{% extends "schedapp:base.html" %}

{% block content %}
    <h1>Schedules</h1>

        {% for scheduler in schedulers %}
        <h2>Schedule {{ scheduler.id }}</h2>

        <table>
            <tr>
                <th>Name</th>
                <td>{{ scheduler.name }}</td>
            </tr>
        </table>
        {% end %}
        {% if len(schedulers) == 0 %}
        <h2>No Schedules found.</h2>
        <table>
            <tr>
                <td colspan="2">
                    There are no schedulers configured.
                </td>
            </tr>
        </table>
        {% end %}
<br>
{% end %}

